<div class="containor-fluid " style="margin-bottom:-25px">
    <nav class="nav nav-tabs bg-light justify-content-end p-4 text-dark">
        <a href="/" class="nav-item nav-link text-dark ">Home</a>
        <a href="/products" class="nav-item nav-link text-dark">products</a>
        <a href="/signup" class="nav-item nav-link text-dark">Signup</a>
    </nav>
</div>