<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 4 Nav Pills</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" defer href="C:\wamp64\www\mywork\ALL\cakelers\style.css">


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        img {
            width: 100%;
            height: 50%;
        }
    </style>
</head>

<body>

    <div>
        <%- include('partials/navbar.ejs') %>.

            <img src='/images/cakes.jpg'>
    </div>
    <div class="container p-5 bg-light">
        <div class="row">
            <div class="col-sm-4 bg-light">
                <div class=".img">
                    <img src="/images/img1.jpg">
                </div>
            </div>
            <div class="col-sm-4 bg-light pr-3">
                <div class=".img">
                    <img src="/images/img2.jpg">
                </div>
            </div>

            <div class="col-sm-4 bg-light pr-3">
                <div class=".img">
                    <img src="/images/img1.jpg">
                </div>
            </div>

            <div class="col-sm-4 bg-light pr-3">
                <div class=".img">
                    <img src="/images/img2.jpg">
                </div>
            </div>

            <div class="col-sm-4 bg-light pr-3">
                <div class=".img">
                    <img src="/images/img1.jpg">
                </div>
            </div>
            <div class="col-sm-4 bg-light pr-3">
                <div class=".img">
                    <img src="/images/img2.jpg">
                </div>
            </div>
        </div>
    </div>

</body>

</html>